@{
   ViewBag.Title = "About";
   ViewBag.Message = "Application description page";
}
<main aria-labelledby="title">
   <h2 id="title">@ViewBag.Title</h2>
   <h3>@ViewBag.Message</h3>

   <p>This web application is designed to manage concert information, allowing users to add, edit, view, and delete concert details. It provides a user-friendly interface for managing concert data efficiently.</p>
   <section aria-labelledby="authorInfo">
      <h3 id="authorInfo">About the Author</h3>
      <p>My name is Ruyuan Sun, a student of WEB524 in Winter 2024. This application was developed as part of the coursework to demonstrate the skills acquired in ASP.NET MVC and database management using Entity Framework.</p>
   </section>
</main>