@{
   ViewBag.Title = "Contact";
   ViewBag.Message = "Contact page";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
       Ruyuan Sun<br />
       1750 Finch Ave E<br />
       North York, ON M2J 2X5<br />
       <abbr title="Phone">P:</abbr>
       416.491.5050
    </address>

    <address>
       <strong>Support:</strong>   <a href="mailto:rsun35@myseneca.ca">rsun35@myseneca.ca</a><br />
       <strong>Marketing:</strong> <a href="mailto:rsun35@myseneca.ca">rsun35@myseneca.ca</a>
    </address>
</main>