@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 1 - Ruyuan Sun</h1>
        <p class="lead">The application is used to manage concert information, allowing users to add, edit, view and delete concert details.</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>While completing this assignment, I learned how to work with ASP.NET MVC, including creating controllers, views, and models. I also gained a better understanding of how to use Entity Framework for database operations and how to implement CRUD functionalities.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>One of the challenges I faced was understanding how to properly configure AutoMapper for mapping between different model classes. Additionally, I encountered difficulties in setting up the project structure and ensuring that all dependencies were correctly managed.</p>
        </section>
    </div>
</main>